extends ./layout/index



block contenido 
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote orem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis risus a tortor imperdiet iaculis et at erat. Aliquam non lectus in augue tempus ultrices. Vivamus leo neque, scelerisque eu dapibus tempus, elementum sed ligula. Donec cursus turpis vitae tempor rhoncus. In a nulla risus. Nunc dictum turpis nec libero mollis commodo. Etiam aliquam nisl vel volutpat dignissim. Donec sed nisi vitae enim tempor eleifend. Curabitur pharetra in felis consectetur feugiat. Suspendisse potenti. Etiam varius nunc rhoncus nisi pretium ultricies. Maecenas commodo, urna a malesuada blandit, dui mauris gravida purus, mattis aliquet sem augue a odio.

                p Curabitur eget orci vehicula, iaculis elit vel, viverra dolor. Cras eget est lacinia, lacinia purus sed, placerat nibh. Fusce eget nisi nec magna ultricies luctus rhoncus in urna. Maecenas dapibus laoreet purus, vitae gravida lorem semper non. Fusce dictum ultrices auctor. Sed malesuada ante vitae vulputate tincidunt. Cras ac arcu pellentesque, blandit orci eu, bibendum tortor. Nulla egestas malesuada dignissim. In ut elit id lacus commodo rutrum a nec ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In facilisis sodales lacinia. Vivamus eleifend, urna id egestas volutpat, arcu ligula pretium augue, et porttitor nisl turpis ac risus. Aliquam vitae tristique purus. Phasellus dignissim mi sed auctor egestas. Curabitur id mauris nisl. Curabitur sagittis rhoncus euismod.

                p Vestibulum tellus enim, ullamcorper in maximus non, posuere non mauris. Ut est erat, mollis quis justo in, aliquet tempor lorem. Morbi pretium libero vel sodales lacinia. Duis vel enim ante. Aliquam non purus eu nibh aliquet tempus quis ac nulla. Nullam vel urna pellentesque nunc dapibus accumsan at et quam. Nulla facilisi. Nulla tincidunt, neque eget bibendum dignissim, augue justo feugiat lorem, nec facilisis est urna et ipsum. Pellentesque eu sem cursus, rhoncus ipsum vel, vulputate magna. Etiam scelerisque lacus sit amet ligula varius, id lobortis dolor egestas. Morbi quis ultrices erat. Nullam nulla erat, varius in porta eget, lacinia sit amet libero. Nunc et posuere orci. In in turpis non mauris pharetra ullamcorper. Pellentesque tortor metus, sagittis nec neque laoreet, rhoncus gravida leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row   
                .col-md-4.py-5
                    img(src="img/icono_seguridad.svg", alt="seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt dignissim quam, vel semper sapien finibus nec. Mauris massa quam, scelerisque at pretium non, pretium a ex. Morbi fringilla eu nibh sit amet dictum. Phasellus euismod nunc et mi dignissim volutpat. Aliquam at nisl orci. Cras et euismod nibh, ut tempus ante. Fusce consectetur porttitor justo ut convallis. Morbi aliquam porta erat quis vehicula. In vestibulum enim a suscipit venenatis. Quisque eu diam odio. Orci.


                .col-md-4.py-5
                    img(src="img/icono_destinos.svg", alt="destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt dignissim quam, vel semper sapien finibus nec. Mauris massa quam, scelerisque at pretium non, pretium a ex. Morbi fringilla eu nibh sit amet dictum. Phasellus euismod nunc et mi dignissim volutpat. Aliquam at nisl orci. Cras et euismod nibh, ut tempus ante. Fusce consectetur porttitor justo ut convallis. Morbi aliquam porta erat quis vehicula. In vestibulum enim a suscipit venenatis. Quisque eu diam odio. Orci.


                .col-md-4.py-5
                    img(src="img/icono_precios.svg", alt="precios" class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt dignissim quam, vel semper sapien finibus nec. Mauris massa quam, scelerisque at pretium non, pretium a ex. Morbi fringilla eu nibh sit amet dictum. Phasellus euismod nunc et mi dignissim volutpat. Aliquam at nisl orci. Cras et euismod nibh, ut tempus ante. Fusce consectetur porttitor justo ut convallis. Morbi aliquam porta erat quis vehicula. In vestibulum enim a suscipit venenatis. Quisque eu diam odio. Orci.
